<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/c9ec4f82cc.js"></script>
    <link rel="stylesheet" href="/css/{{style}}.css" />
    <title>Add Recipe</title>
</head>

<body>
    <header class="header-section">
        <div class="header-top">
            <div class="container-fluid">
                <div class="header-social">
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>

                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="user-panel">
                    <a href="#">Register</a> /
                    <a href="#">Login</a>
                </div>
            </div>
        </div>
        <div class="header-bottom ">
            <div class="container-fluid">
                <a href="index.html" class="site-logo">
                    <h2>Delicious.ly</h2>
                </a>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
                <ul class="main-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">My Recipe</a></li>
                    <li><a href="">Recipies</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href=""> Gallery</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Hero section -->
    <section class="page-top-section set-bg card">
        <img src="./assets/page-top-bg.jpg" alt="" />
        <div class="container">
            <h2 class="card-img-overlay">
                Add Recipe
            </h2>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- ADD FORM -->
    <form class=" pt-5 my-5 mx-5 bg-light p-4" method="POST" action="/add">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="title" />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Brief Description</label>
            <textarea type="" class="form-control" id="exampleInputPassword1" placeholder="" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Categorize your recipe</label>
            <div class="row">
                <div class="col-4">
                    <label for="exampleFormControlSelect1">Recipe Type</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="recipetype" />
                </div>
                <div class="col-4">
                    <label for="exampleFormControlSelect1"> Cuisine</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="cuisine" />
                </div>
                <div class="col-4">
                    <label for="exampleFormControlSelect1"> Skill Level</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="difficulty">
                        <option>Begginers</option>
                        <option>Intermediate</option>
                        <option>Advanced</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"># of serving</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="serving" />
        </div>
        Ingredients
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        Quantity
                    </th>
                    <th scope="col">Measure</th>
                    <th scope="col">Item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> <input type="number" class="form-control" id="exampleInputEmail1" name="quantity" /></td>
                    <td><input type="number" class="form-control" id="exampleInputEmail1" name="measure" /></td>
                    <td><input type="text" class="form-control" id="exampleInputEmail1" name="item" /></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td> <input type="number" class="form-control" id="exampleInputEmail1" name="quantity" /></td>
                    <td><input type="number" class="form-control" id="exampleInputEmail1" name="measure" /></td>
                    <td><input type="text" class="form-control" id="exampleInputEmail1" name="item" /></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td> <input type="number" class="form-control" id="exampleInputEmail1" name="quantity" /></td>
                    <td><input type="number" class="form-control" id="exampleInputEmail1" name="measure" /></td>
                    <td><input type="text" class="form-control" id="exampleInputEmail1" name="item" /></td>
                </tr>


            </tbody>
        </table>
        <label for="exampleInputEmail1">Time Taken</label>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Total Time </label>
                            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="hours" name="totaltime" />
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cooking Time </label>
                            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="hours" name="cookingtime" />
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Preparation Time </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="hours" name="preptime" />
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Instructions </label>
            <textarea type="" class="form-control" rows="8" id="exampleInputPassword1" placeholder="" name="instructionsteps"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload Pictures</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" />
        </div>
        {{!-- <button type="submit" class="btn btn-lg" id="sumbitBtn" style="background-color:#DF2B2A; color:white;">
            Submit
        </button> --}}
        <input type="submit" class="btn btn-primary btn-block text-center" value="Add a Recipe"></input>
    </form>
    <!-- ADD FORM END -->
    <!-- Footer section  -->
    <footer class="footer-section set-bg" id="footer" data-setbg="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-logo">
                        <img src="" alt="" />
                    </div>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <ul class="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">My Recipes</a></li>
                        <li><a href="#">Recipies</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <p class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; All rights reserved |Made by Alpha
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
</body>

</html>