<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/{{style}}.css" />
    <title>Welcome to the login</title>
</head>

<body>
    <section class="container">
        <div class="parent dark-overlay">
            <div class="card">
                <h5 class="card-title text-center m-3">Reset Password</h5>
                <form class="" name="myform">
                    <div class="card-body ">

                        <label>Old Password</label>
                        <div class="form-group ">
                            <input type="password" class="form-control form-control-lg" id="password" />
                        </div>
                        <label> New Password</label>
                        <div class="form-group ">
                            <input type="password" class="form-control form-control-lg" id="password" />
                        </div>
                        <label> Confirm New Password</label>
                        <div class="form-group ">
                            <input type="password" class="form-control form-control-lg" id="password" />
                        </div>
                        <div class="form-group text-center">
                            <a href="/login" class="btn btn-lg btn-danger m-2" id="myBtn">Reset</a>
                            <br>


                        </div>
                </form>

            </div>
        </div>
    </section>
</body>

</html>