.parent {
  min-height: 100vh;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 430px;
  width: 400px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 10px 10px BLACK;
}

.card-body {
  padding: 40px;
  padding-top: 20px;
}

.dark-overlay {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 10;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  background: url("/assets/latest8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
