.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.img-background {
  background-color: black;
  border: 2px inset lightgray;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("../../images/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

#recipe-image {
  max-width: 500px;
  max-height: 500px;
}
#addBtn:hover {
  color: red;
}
